.header{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 5px 40px;
    align-items: center;
    background-color: #121926;
    color: #cfd1d3;
}

.header h3{
    font-size: 22px;
}
.header-buttons{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 200px;
    align-items: center;
    /* border: 1px solid red; */
}

.login-button{
    border:none;
    background-color: transparent;
    cursor: pointer;
    color: #cfd1d3;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.2px;
    width: 100px;
    height: 22px;
    /* border: 1px solid red; */
    
}

.subscribe-button{
    background-color: #1f80e0;
    border: none;
    font-size: 12px;
    font-weight:bold;
    color: #ffffff;
    border-radius: 5px;
    padding:4px 12px;
    height: 22px;
    cursor: pointer;
    width: 100px;
    /* border: 1px solid red; */
}

.search-box{
    display: flex;
    align-items: center;
}

.search{
    border:none;
    background-color: transparent;
    color:#cfd1d3;
    font-size: 14px;
    outline: none;
    border-bottom: 1px solid #cfd1d3;
    height: 24px;
    padding: 2px 0px;
    width: 200px;
}

.search:focus{
    width: 400px;
    border-bottom: 1px solid #1f80e0;
}

