.header{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 24px 40px;
    align-items: center;
    background-color: #121926;
    color: #cfd1d3;
}

.header h3{
    font-size: 22px;
}
.header-buttons{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 200px;
    align-items: center;
    /* border: 1px solid red; */
}

.login-button{
    border:none;
    background-color: transparent;
    cursor: pointer;
    color: #cfd1d3;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.2px;
    width: 100px;
    height: 22px;
    /* border: 1px solid red; */
    
}

.subscribe-button{
    background-color: #1f80e0;
    border: none;
    font-size: 12px;
    font-weight:bold;
    color: #ffffff;
    border-radius: 5px;
    padding:4px 12px;
    height: 22px;
    cursor: pointer;
    width: 100px;
    /* border: 1px solid red; */
}

.search-box{
    display: flex;
    align-items: center;
}

.search{
    border:none;
    background-color: transparent;
    color:#cfd1d3;
    font-size: 14px;
    outline: none;
    border-bottom: 1px solid #cfd1d3;
    height: 24px;
    padding: 2px 0px;
    width: 200px;
}

.search:focus{
    width: 400px;
    border-bottom: 1px solid #1f80e0;
}

.account{
    font-size: 18px;
    display: block;
    cursor: pointer;
    color:#cfd1d3;
}
.account-options{
    /* box-sizing: border-box;
    padding:10px; */
    background-color: #121926;
    font-size: 16px;
    display: block;
    cursor: pointer;
    /* border: 1px red solid; */
    z-index: 4 ;
    position: fixed;
    color:#cfd1d3;
    top:60px;
    left:90%;
    width: 120px;
    height: 70px;
    padding-top: 4px;
}



.account-options a{
    text-decoration: none;
    color:#cfd1d3;
}

.account-options li{
    height: 35px;
}

.account-options li:hover{
    display: block;
    background-color: #06080c;
}

/* .account:hover  + .account-options {
    background-color: #121926;
    font-size: 18px;
    display: block;
    cursor: pointer;
    border: 1px red solid;
    z-index: 4 ;
    position: fixed;
    color:#cfd1d3;
    top:60px;
    left:90%;
    width: 100px;
    height: 70px;
} */

